@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
 font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  --primary-color:aqua;

}

header
{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 20px;
}
header ul{
    display: flex;
    gap: 20px;
}
li
{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.name{
    color: var(--primary-color);
}
li:hover{
    transform: scale(1.1);
}
a:hover{
    color: var(--primary-color)
}
section{
     margin: 10px;
    padding: 20px 50px;
}
#banner{
    display: flex;
   
}
.banner-data{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.banner-data h2
{
  font-size:48px;
}
.banner-data p{
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: justify;
}
button{
 background-color: black;
 color: white;
 border-radius: 20px;
 padding: 20px;
 transition: all 2s ease;
}
.secondary{
    background: none;
    color: black;
}
button:hover
{
    background-color:var(--primary-color);
}

.Title{
   font-size: 40px;
   text-shadow: 5px 5px var(--primary-color);
   text-align: center;
}
#about{
    text-align: center;
    font-size: 24px;
    line-height: 35px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.project{
    box-shadow: 5px 5px black;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    transition: all 2s ease;
}
.project:hover{
    box-shadow: 5px 5px var(--primary-color);
    transform: scale(1.1);
}

.project img{
  width: 400px;
}
#contact{
    display: flex;
    gap: 20px;
}
.form
{
    width: 100%;
}
form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#contact input,#contact textarea{
    width: 100%;
    height: 50px;
    border-radius:10px;
    font-size: 24px;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 0px;
}
@media (max-width:768px)
{
    header{
        flex-direction: column;
    }
    #banner{
        flex-direction: column-reverse;
    }
    #banner img{
        width: 80vw;
    }
    #projects
    {
        grid-template-columns: repeat(2,1fr);
    }
    .project img{
        width: 200px;
    }
    #contact{
        flex-direction: column-reverse;
    }
} 
@media (max-width:480px)
{
    header{
        flex-direction: column;
    }
    header ul{
        flex-direction: column;
    }
     #banner{
        flex-direction: column-reverse;
    }
    #banner img{
        width: 80vw;
    }
    #projects
    {
        grid-template-columns: repeat(1,1fr);
    }
    .project img{
        width: 100px;
    }
     #contact{
        flex-direction: column-reverse;
    }
}














