body{
    background:linear-gradient(to left,red,blue);
    height: 100vh;
}
button
{
    background-color: red;
    color: blue;
}
/*.classname*/
.chintu
{
    background-color: green;
}
/* # is for id*/
#bunti{
    background-color: black;
}










h1
{
    color: white;
}
