*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,aliceblue,magenta);


}
#main{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0px;
}
input,button{
    height: 50px;
    width: 50vw;
    border-radius: 20px;
    font-size: 24px;
}
button{
    width: max-content;
}
#results{
     display: grid;
     grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.movie{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie:hover{
    transform: scale(1.05);
}