img{
    height: 200px;
    width:200px
}
#main{
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(3,auto);
    place-items: center;
}
.myProduct{
   padding: 30px;
   border-radius: 20px;
   box-shadow: 5px 5px black;
   width: 300px;
   
}
.myProduct:hover{
       box-shadow: 5px 5px aqua;
}